@model IEnumerable<FileCabinet.Models.Article>

<p>
    @Html.ActionLink("Create New", "Create", "Articles")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Средний рейтинг
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPublication)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="pull-left">
            @Html.AverageRating(item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPublication)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Articles", new { id=item.ArticleId }, null) |
            @Html.ActionLink("Details", "Details", "Articles", new { id = item.ArticleId }, null) |
            @Html.ActionLink("Delete", "Delete", "Articles", new { id = item.ArticleId }, null)
        </td>
    </tr>
}

</table>
