@model FileCabinet.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div>
        @Html.Action("Content", "Home", new { article = Model })
    </div>
    <div>
        Описание:<br/>
        @Html.DisplayFor(model => model.Description)
    </div>
    <div>
        @Html.ActionLink("Скачать", "Download", new { path = "~/UploadedFiles/" + Model.FileName }, null)
    </div>
    <div class="pull-right">
        @Html.LabelFor(model => Model.User.Username)
        @Html.DisplayFor(model => Model.User.Username) |
        @Html.LabelFor(model => Model.DateOfPublication)
        @Html.DisplayFor(model => Model.DateOfPublication)
    </div>
    <div class="pull-right">
        @Html.RatingStars(Model)
    </div>
</div>
<p class="bottom-left" style="margin-top:50px;">
    @Html.ActionLink("Back to List", "List", null, new { @class="btn btn-default"})
</p>
