@model FileCabinet.Models.ArticlesViewModel
@using FileCabinet.HtmlHelpers

@{
    ViewBag.Title = "List";
}

<div id="categories" class="col-md-3">
    @Html.Action("Menu", "Navigation")
</div>
<h2>Список постов</h2>
@using (Html.BeginForm())
{
    <div class="col-md-7">
        @foreach (var item in Model.Articles)
        {
            <div id="postlist">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left">@Html.ActionLink(item.Title, "Details", "Articles", new { id = item.ArticleId }, null)</h3>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="pull-right">
                                        <small><em>@item.DateOfPublication</em></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        @Html.Action("Content", "Home", new { article = item})
                    </div>
                    @if (WebSecurity.CurrentUserId == -1)
                    {
                        <div class="rating-notActive" style="margin-left:50%">
                            @Html.AverageRating(item, "color:red;margin-left:20px;margin-right:40px;")
                            @Html.RatingStars(item)
                        </div>
                    }
                    else
                    {
                        <div class="rating " style="margin-left:5%" id="raiting" postid="@item.ArticleId">
                            @Html.AverageRating(item, "color:red;margin-left:20px;margin-right:40px;")
                            @Html.RatingStars(item)
                        </div>
                    }
                    <div class="panel-footer">
                        <span class="label label-default">@Enum.GetName(item.ContentType.GetType(), item.ContentType)</span> <span class="label label-info">@item.User.Username</span>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
            </div>

        }
        <div class="btn-group pull-right">
            @Html.PageLinks(Model.Info, x => Url.Action("List", new { page = x, category = Model.CurrentCategory, searchString = Model.SearchString }))
        </div>
        <div style="margin-right:90%">
            @Html.ActionLink("Create new", "Create", "Articles", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}


@section Scripts {
    <script src="~/Scripts/star-rating.js" type="text/javascript"></script>
}